body{
  /*color:#666;*/
  font:12px "微软雅黑",Arial,Helvetica,sans-serif;
  /* font-family: 'Segoe Print', Arial, sans-serif */
  margin:0;
  padding:0;
  /*background-color:##FBF5F3;*/
  /* background-image:url("../img/background/4.jpg");
  background-attachment:fixed; */
  /* opacity:0.8; */
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
  margin:0;
  padding:0;
  list-style:none;
}
img{
  vertical-align:middle;
}
a{
  color:#000;
  text-decoration:none;
  transform: 2s;
}
a:hover{
  color: red;
  transform: 2s;
}
.clear:after{
  content:"";
  display:block;
  clear:both;
}
.lf{ float:left; }
.rt{ float:right; }
.main{
  /* margin:0 auto;
  width:1000px; */
  /* border-left:2px solid;
  border-right:2px solid; */
}
input{
  text-align: center;
}








