.header .navbar {
    position: relative;
    min-height: 95px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: transparent;
    z-index: 10000;
}
.header .navbar-nav>li>a{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 55px;
    font-weight: 1000;
    color:#000;
    font-size: 15px;
    margin-left: 10px;
}
.navbar-default .navbar-nav > .open > a,   
.navbar-default .navbar-nav > .open > a:focus {
    color: red;
    background-color: transparent;
}
/* 下拉的a  */
.dropdown-menu > li > a {
    line-height: 2.2;
}
.dropdown-menu > li {
    border-bottom:2px solid #EAEAEA;
}
.dropdown-menu {
    width: 250px;
    text-align: center;
    padding:0 0;
}
.header .navbar-nav>li>a {
    font-size: 20px;
}